master/clang-poller/
master/clang/
master/http.log
master/linux-mainline-poller/
master/llvm-poller/
master/llvm/
master/llvmlinux-poller/
master/llvmlinux/
master/mainline-vexpress/
master/mainline-x86_64/
master/master.cfg.20140506_pre_strip
master/master.cfg.sample
master/public_html/
master/resetup/
master/state.sqlite
master/twistd.log
master/twistd.pid
slave-bkup/
slave/common/
slave/llvmlinux/
slave/twistd.hostname
slave/twistd.log
slave/twistd.pid
